@import "tailwindcss";

:root {
  --primary-color: #0d83cd; /* From logo */
  --secondary-color: #0ea5e9;
  --accent-color: #2dd4bf; 
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
  margin: 0;
  padding: 0;
}
